@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root {
    --font-primary: 'Baloo Da 2',sans-serif;
    --font-secundary: 'Josefin Slab', sans-serif ;
    --font-action: 'Mulish',sans-serif;
}
.hamburguer {
    position: fixed;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 2rem;
    right: 2rem;
    z-index: 100;
    cursor: pointer;
    padding: 0.2rem;
}
.show-menu .hamburguer {
    right: 16rem;
}
.hamburguer .line {
    width: 100% ;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 500ms ease;
}
.show-menu #line1 {
    width: 95% ;
    transform: rotate(47deg) translate(4px, 7px);
}
.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3 {
    width: 95% ;
    transform: rotate(-47deg) translate(1px, -9px);
}
.hamburguer span {
    position: absolute;
    width: 6rem;
    height: 2rem;
    left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family:  var(--font-action);
    text-transform: uppercase;
    background-color: #FF0099;
    transition: opacity ease;
    opacity: 0;
}
.hamburguer span::before {
    content: '';
    position: absolute;
    border-right: .5rem solid #FF0099;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1.0rem;
}
.show-menu .hamburguer:hover span {
    opacity: 1;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* como minha img vai ser um wrapper de uma div eu uso ese object-fit pra cobrir ela inteira*/
    opacity: 0.5;
    animation: zoom 25s;
}
@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}
@keyframes moveBanner {
    0% {
        transform: translateY(10rem);
    }
    100% {
        transform: translateY(0rem)
    }
}
.banner h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 200;
    font-family: var(--font-primary);
    text-shadow: .2rem .3rem 2px rgba(0,0,0,.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}
.banner p {
    color: #ffffff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0,0,0,.4);
    font-family: var(--font-secundary) ;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s  0.7s forwards;
}
.banner button {
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: var(--font-action);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}
.banner button:hover {
    background: linear-gradient(to right, #2e1e28, #a50063);
}
@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0rem) rotateY(0deg);
        opacity: 1;
    }
}
.sidebar {
    position: fixed;
    top: 0;
    right: -20rem;
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    transition: 500ms ease;
}
.show-menu .sidebar{
    right: 0;
}
.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}
.menu-link {
    font-size: 2rem;
    color: #555;
    font-family: var(--font-action);
    transition: color 500ms ease;
}
.menu-link:hover {
    color: #a50063;
}
.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-media i {
    background-color:  #FF0099;
    border-radius: 50%;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 500ms ease;
}
.social-media i:hover {
    background-color: #a50063;
}
